[submodule "JM-CompanyAuthService"]
	path = JM-CompanyAuthService
	url = https://github.com/Saint-Giong/JM-CompanyAuthService.git
[submodule "JM-CompanyProfileService"]
	path = JM-CompanyProfileService
	url = https://github.com/Saint-Giong/JM-CompanyProfileService.git
[submodule "SG-SharedDtoPackage"]
	path = SG-SharedDtoPackage
	url = https://github.com/Saint-Giong/SG-SharedDtoPackage
[submodule "JM-Eureka"]
	path = JM-Eureka
	url = https://github.com/Saint-Giong/JM-Eureka.git
[submodule "JM-Gateway"]
	path = JM-Gateway
	url = https://github.com/Saint-Giong/JM-Gateway
[submodule "JM-ApplicantDiscoveryService"]
	path = JM-ApplicantDiscoveryService
	url = https://github.com/Saint-Giong/JM-ApplicantDiscoveryService
[submodule "JM-CompanyMediaService"]
	path = JM-CompanyMediaService
	url = https://github.com/Saint-Giong/JM-CompanyMediaService.git
[submodule "JM-CompanySubscriptionService"]
	path = JM-CompanySubscriptionService
	url = https://github.com/Saint-Giong/JM-CompanySubscriptionService.git
[submodule "JM-JobPostService"]
	path = JM-JobPostService
	url = https://github.com/Saint-Giong/JM-JobPostService.git
[submodule "JM-SkillTagService"]
	path = JM-SkillTagService
	url = https://github.com/Saint-Giong/JM-SkillTagService.git
